<div class="weui-header weui-header2"> 
	<div class="weui-header-left"><a href="javascript:history.back()"><i class="iconfont icon-fanhui"></i></a></div>
	<h1 class="weui-header-title">评价订单</h1>
</div>	
<div class="page bg-gray">
	<div class="comment-dish">
		<div class="dish-text">选出您最喜欢的菜品：</div>
		<ul class="comment-dish-list comment-list clearfix" id="comment-list">
		</ul>
		<ul class="comment-dish-list details-list clearfix" style="display:none;" id="details-list">
		</ul>
	</div>
	<div class="pay-bottom clearfix" style="display:none;">
		<div class="plr12">
			<a href="javascript:void(0);" class="weui_btn pull-right" style="width:100%;" id="commentBtn">提交</a>	
		</div>
	</div>
</div>
<div id="hid-detail-list" style="display:none;">
	<li class="comment-list-item">
		<div class="list-inner-item">
			<div class="dish-img"><img src="/images/nodish.png" alt=""></div>
			<div class="item-text">
				<h3><span class="pull-right">¥297</span>川香小菜（宝山店）</h3>
				<p>月销量<b>123</b>单</p>
				<p>喜欢TA<b>67</b>人</p>
			</div>
		</div>
		<div class="friend-box">
			<p>同样喜欢它的易趴网友：</p>
			<ul class="friend-list clearfix">
			</ul>
		</div>
	</li>
</div>
